.wp-pca-table {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border: solid 1px;
    border-collapse: collapse;
    border-color: #808080;
    margin: 1%;
}

table.wp-pca-table td {
    border-top: solid 1px;
    border-color: #808080;
    background-color: #fff;
    padding: 1%;
}

table.wp-pca-table th {
    border: solid 0px;
    background-color: #fff;
    padding: 1%;
}

td.wp-pca-table-valid {
    color: #008000;
}

td.wp-pca-table-invalid{
    color: #ff0000;
}

td.wp-pca-table-warning{
    color: #ffa500;
}

.debug {
    margin: 1%;
}