.wp-pca-table {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border: solid 1px;
    border-collapse: collapse;
    border-color: #808080;
    padding: 2%;
}

table.wp-pca-table td {
    border-top: solid 1px;
    border-color: #808080;
    background-color: #fff;
}

table.wp-pca-table th {
    border: solid 0px;
    background-color: #fff;
}